@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #b4b4b4;
    --secondary-color: #171717;

    --background-color-dark: #171717;
    --background-color-light: #212121;
    --background-color-medium: #2f2f2f;

    --text-color-dark: #151922;
    --text-color-light: #f4f4f9; 

    --font-family-brand: 'Dela Gothic One', sans-serif;
    --font-weight-brand: 350;
    --font-size-brand: 36px;
    --line-height-brand: 48px;

    --font-family-cuadruple-headline: 'Poppins', sans-serif;
    --font-weight-cuadruple-headline: 600;
    --font-size-cuadruple-headline: 56px;
    --line-height-cuadruple-headline: 66px;

    --font-family-double-headline: 'Poppins', sans-serif;
    --font-weight-double-headline: 600;
    --font-size-double-headline: 24px;
    --line-height-double-headline: 32px;

    --font-family-headline: 'Poppins', sans-serif;
    --font-weight-headline: 600;
    --font-size-headline: 20px;
    --line-height-headline: 28px;

    --font-family-body-1: 'Open Sans', sans-serif;
    --font-weight-body-1: 400;
    --font-size-body-1: 16px;
    --line-height-body-1: 22px;

    --layout-01: 8px;
    --layout-02: 12px;
    --layout-03: 16px;
    --layout-04: 20px;
    --layout-05: 24px;

    --spacing-01: 4px;
    --spacing-02: 8px;
    --spacing-03: 12px;
    --spacing-04: 16px;
    --spacing-05: 20px;

    --radius-01: 10px;
    --radius-02: 30px;
    --radius-03: 100px;

    --shadow: 25%;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.stAppViewContainer {
    height: 100%;
    background-color: #212121;
}

[data-testid="stHeader"] {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[data-testid="stSidebar"]{
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

[data-testid="stSidebarUserContent"] {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--background-color);
    text-align: center;
    height: 900px;
    justify-content: space-evenly;
}

/* Upgrade Button */

[data-testid="stBaseButton-secondary"] {
    background-color: var(--background-color-medium);
    color: var(--text-color-light);
    border: none;
    border-radius: var(--radius-02);
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin-top: 600px;
}

[data-testid="stBaseButton-secondary"]:hover {
    border: 2px solid var(--text-color-light);
}


[data-testid="stBaseButton-secondary"]:active {
    background-color: var(--text-color-light);
    color: var(--text-color-dark); 
    border: 2px solid transparent;
}

[data-testid="stBaseButton-secondary"]::selection {
    background-color: var(--text-color-light);
    border: 2px solid var(--text-color-light);
}

[data-testid="stButton"] p {
    margin: 0;
    color: var(--text-color-light);
    font-family: var(--font-family-headline);
    font-size: var(--font-size-headline);
    font-weight: var(--font-weight-brand);
    line-height: 2;
}

.chat-item {
    width: 100%;
    font-size: var(--font-size-headline);
    text-align: left;
    font-style: normal;
    padding: var(--spacing-03r);
    margin: var(--layout-02);
    border-radius: var(--radius-01);
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--text-color-light);
    font-family: var(--font-family-headline);
    overflow: hidden;
    white-space: nowrap;
  }

.chat-item:hover {
    background-color: var(--background-color-medium);
    box-shadow: 0 6px 15px rgba(51, 49, 49, 0.3);
    cursor: pointer;
    border: 2px solid var(--primary-color);
    padding: var(--spacing-02);
    color: var(--primary-color);
}

h2.stHeading {
    text-align: center;
    margin: var(--layout-01);
    border-bottom: 2px solid var(--primary-color);
    letter-spacing: 2px;
    margin-bottom: var(--layout-05);
    font-size: var(--font-size-brand);
    font-family: var(--font-family-brand);
    color: var(--text-color-light);
}

[id="llama-quechua"] {
    color: var(--text-color-light);
    font-size: var(--font-size-cuadruple-headline);
    font-family: var(--font-family-brand);
    font-weight: var(--font-weight-brand);
    margin-bottom: var(--layout-05);
}

.st-emotion-cache-128upt6.ea3mdgi6 {
    background-color: var(--background-color-light);
}

/* Chat Input */

.stChatInput {
    resize: vertical;
    border: 3px solid var(--primary-color);
    border-radius: var(--radius-02);
    padding: var(--spacing-03);
    width: 100%;
    transition: border-color 0.2s;
    background-color: var(--background-color-light);
}

[data-baseweb="textarea"] {
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    padding-right: var(--spacing-02);
}

[data-baseweb="textarea"] textarea {
    font-family: var(--font-family-double-headline);
    font-size: var(--font-size-double-headline);
    color: var(--text-color-light);
}


[data-testid="stChatInputSubmitButton"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-02) var(--spacing-03);
    transition: background-color 0.3s ease;
}
[data-testid="stChatInputSubmitButton"]:hover {
    align-items: center;
    background-color: var(--primary-color);
}

.stError {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* CHAT */

.chat-message {
    color: var(--secondary-color);
    padding: var(--spacing-02);
    display: inline-block;
    margin: var(--layout-02);
    width: fit-content;
    max-width: 100%;
}

.chat-message p{
    font-family: var(--font-family-body-1);
    font-size: var(--font-size-double-headline);
}

.assistant-message {
    background-color:  transparent;
    color: var(--text-color-light);
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
    border: none;
    border-radius: var(--radius-01) var(--radius-01) 0px var(--radius-01);
}

.user-message {
    background-color: var(--background-color-medium);
    color: var(--text-color-light);
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    border-radius: var(--radius-01) var(--radius-01) var(--radius-01) 0px;
}

.profile-pic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin: var(--layout-02);
    align-self: flex-start;
}

[data-testid="stVerticalBlock"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    max-width: 100%;
}